<html>
<head>
  <link href="http://localhost:8000/css/tela_email/fale_conosco.css" rel="stylesheet" type="text/css">
  <%include  ../../../public/templates/cabecalho_styles.html%>
</head>

<body>
  <%include  ../../../public/templates/cabecalho.html%>
  <div style=" width: 75%; margin: auto;">
    <div style=" width: 100%;">

    <img src="images/perfis/kaos hummm.jpg" alt="Italian Trulli" style="width: 130px;/* height:60px; */float: right;">
      <div style="/* border-bottom: 1px solid; */display: inline;width: 500px;padding-right: 100%;"> #NOME# </div>
    </div>
    <div> CPF </div>
    <div> #CPF# </div>
    <div> Endereço </div>
    <div> #ENDEREÇO# </div>

</div>
</body>
  <%include  ../../../public/templates/cabecalho_scripts.html%>
</html>
