<html>
<head>
  <%include  ../../../public/templates/cabecalho_styles.html%>
</head>

<body>

  <div style = "text-align:center">

    <div style = " font-size: 30; font-weight: bold;color: black; margin:20px 0px;">
      Você não tem permissão para acessar esta página.</div><br>
    <img src="../images/STOP.jpg" alt="STOP">

  </div>
</body>
</html>
