<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/nosso.css">
      <%include  ../../../public/templates/cabecalho_styles.html%>
  </head>

  <body>
    <%include  ../../../public/templates/cabecalho.html%>


    <div class = "corpo">
    <h1>ようこそ！</h1>


</div>
  </body>
    <%include  ../../../public/templates/cabecalho_scripts.html%>
</html>
