
    <header class="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
            <a href="/">
              <div class="logo d-flex flex-row align-items-center justify-content-start"><img src="images/dot.png" alt=""><div>Dixtribuidora<span></span></div></div>
            </a>
            <nav class="main_nav">
              <ul class="d-flex flex-row align-items-center justify-content-start">

                <li class="active"><a href="../">Home</a></li>
                <li><a href="../devolucoes">Devoluções</a></li>
                <li><a href="../manutencoes">Manutenções</a></li>
                <li><a href="../fale-conosco">Fale conosco</a></li>

                <% if (typeof nome == 'string' && nome)  { %>
                  <li><a href = "/meu-perfil"<nobr> <i class="fa fa-user"></i> <%=nome%></nobr> </a></li>
                  <li  id = "ook"><a href = "/logout" >Logout</a></li>
                  <% } else { %>
                      <li ><a href = "/login" >Login</a></li>
                  <%  }%>

                </ul>
              </nav>
              <div class="menu trans_800">
                <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
                  <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="/devolucoes">Devoluções</a></li>
                    <li><a href="services.html">Manutenções</a></li>
                    <li><a href="blog.html">Fale conosco</a></li>
                    <% if (typeof nome == 'string' && nome)  { %>
                      <li><a href = "/meu-perfil"><nobr> <i class="fa fa-user"></i> <%=nome%></nobr> </a></li>
                      <li  id = "ook"><a href = "/logout" >Logout</a></li>
                      <% } else { %>
                          <li ><a href = "/login" >Login</a></li>
                      <%  }%>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
      <div class="hamburger">
        <div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
          <span>menu</span>
          <div class="hamburger_container">
            <div class="menu_hamburger">
              <div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
              <div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
              <div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Menu -->
