<!--Author: W3layouts
   Author URL: http://w3layouts.com
   License: Creative Commons Attribution 3.0 Unported
   License URL: http://creativecommons.org/licenses/by/3.0/
   -->
<!DOCTYPE HTML>
<html lang="zxx">
   <head>
      <title>Manutenção de produto</title>
        <%include  ../../../public/templates/cabecalho_styles.html%>
      <!-- Meta tag Keywords -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8" />
      <script>
         addEventListener("load", function () {
         	setTimeout(hideURLbar, 0);
         }, false);

         function hideURLbar() {
         	window.scrollTo(0, 1);
         }
      </script>
      <!-- Meta tag Keywords -->
      <!-- css files -->
      <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
      <!-- Style-CSS -->
      <!-- Font-Awesome-Icons-CSS -->
      <!-- //css files -->
      <!-- web-fonts -->
      <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
      <!-- //web-fonts -->
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">

   </head>
   <body>
  <%- include('../../../public/templates/cabecalho.html') %>
      <!-- title -->

      <!-- //title -->
      <!-- content -->

	  <div style = "margin:45px; padding-top: 120px; font-size:">
		 <h1 >Manutenção de produto
 </h1>
      <div style="background:#eee; padding:30px;" >
         <form action="/registrar_manutencao" method="post">
            <div class="main">
               <div class="form-group-w3l">
                  <p>Modelo do produto</p>
                  <input type="text" name="produto_id" placeholder="" required="">
               </div>
            </div>

            <div class="sub-hedder">
               <h2>Indique o motivo da manutenção:</h2>
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="motivo"
                  value="Embalagem violada" checked="">
                  <label class="form-check-label">
                  A embalagem veio violada.
                  </label>
               </div>
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="motivo"
                  value="Produto insatisfatório" checked="">
                  <label class="form-check-label">
                  O produto não atendeu o esperado.
                  </label>
               </div>
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="motivo"
                  value="Produto não funcional" checked="">
                  <label class="form-check-label">
                  O produto não está funcionando.
                  </label>
               </div>
               <div class="form-check">
                  <input class="form-check-input" type="radio" name="motivo"
                   value="Produto danificado" checked="">
                  <label class="form-check-label">
                  O produto está arranhado/danificado.
                  </label>
               </div>
            </div>
            <div class="form-control-w3l">
               <p>Descreva seu problema</p>
               <textarea name="descricao" placeholder=""></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
         </form>
      </div>
	  </div>
      <!-- copyright -->
      <div class="copy">
         <p>&copy; 2018 Rating Website Form. All rights reserved | Design by
            <a href="http://w3layouts.com">W3layouts</a>
         </p>
      </div>
      <!-- //copyright -->
   </body>
   <%include  ../../../public/templates/cabecalho_scripts.html%>
</html>
